In [1]:
d={'key1':'value','key2':123}

In [2]:
d['key1']

'value'

In [3]:
d['key2']

123

In [4]:
d={'key1':[1,2,3]}

In [6]:
d['key1'][2]

3

In [7]:
True

True

In [8]:
False

False

In [9]:
t = (1,2,3)

In [10]:
t

(1, 2, 3)

In [12]:
t[0]=2

TypeError: 'tuple' object does not support item assignment

In [13]:
{1,2,3}

{1, 2, 3}

In [14]:
{1,1,1,2,2,2,2,3,3}

{1, 2, 3}

In [15]:
set([1,1,1,1,1,2,2,2,3,3,3,3,4,4,4,4])

{1, 2, 3, 4}

In [16]:
s={1,2,3}

In [17]:
s.add(5)

In [18]:
s

{1, 2, 3, 5}

In [20]:
if 1<2:
    print('yep!')

yep!

In [22]:
for x in range(0,5):
    print x

0
1
2
3
4

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension

In [26]:
x = [1,2,3,4]

In [27]:
out = []
for num in x:
    out.append(num**2)

In [28]:
out

[1, 4, 9, 16]

In [29]:
out = [num**2 for num in x]

In [30]:
out

[1, 4, 9, 16]

# Functions

In [37]:
def my_func(name='Guest'):
    print ('Hello ' + name)

In [33]:
my_func('hello')

hello

In [35]:
my_func('Ashish')

Hello Ashish

In [38]:
my_func()

Hello Guest

In [39]:
def square(num):
    return num**2

In [40]:
square(3)

9

# Filter and Map

In [41]:
#map

In [47]:
def times2(num):
    return num*2;

In [43]:
times2(5)

10

In [44]:
seq=[1,2,3,4,5]

In [45]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [49]:
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]

In [50]:
#filter

In [51]:
filter(lambda num:num%2==0,seq)

[2, 4]

In [52]:
#strings

In [53]:
s = 'Hello ! My Name is Ashish'

In [54]:
s.lower()

'hello ! my name is ashish'

In [55]:
s.upper()

'HELLO ! MY NAME IS ASHISH'

In [56]:
s.split()

['Hello', '!', 'My', 'Name', 'is', 'Ashish']

In [57]:
tweet = 'Go Sports! #Sports'

In [58]:
tweet.split('#')

['Go Sports! ', 'Sports']